@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 font-sans text-secondary-navy bg-white;
  }
}

@layer utilities {
  .container-custom {
    @apply max-w-container mx-auto px-4 sm:px-6 lg:px-8;
  }
}
